<p>user-form-test works!</p>
<form (ngSubmit)="submitUserForm(userForm)" #userForm="ngForm" style="margin: 50px 50px;">
    <div>
        <input type="text" placeholder="username" name="username" ngModel style="padding: 8px;" minlength="6" #username="ngModel" required>
    </div>
    <span *ngIf="username && username.errors && username.errors.minlength">
        you have to enter {{username.errors.minlength.requiredLength}} characters, you've only entered {{username.errors.minlength.actualLength}}
    </span>
    <div style="margin-top: 5px;">
        <input type="password" placeholder="password" name="password" ngModel style="padding: 8px;" required>
    </div>
    <button type="submit">Log In</button>
</form>
<div>
    <p>{{pTagi}}</p>
</div>